<main role="main">
    <div class="jumbotron">
        <h1 class="display-3">Saved Articles</h1>
        <p class="lead">Gizmodo Edition</p>
        {{!-- <p><button id="getArticles" class="btn btn-lg btn-success">Get Articles!</button></p> --}}
    </div>

        <div class="row">
        <div id="articles" class="col-lg-12">
            {{#each articles}}
            <div class="card">
                {{!--<h4 class="card-header">Featured</h4> --}}
                <div class="card-body">
                    <h4 class="card-title">{{title}}</h4>
                    <div class="row">
                        <a href="{{link}}" class="col-lg-6 font-weight-light">{{link}}</a>
                        <button type="button" data-id="{{ _id }}" class="col-lg-3 btn btn-outline-primary btn-sm saveButton">Delete</button>
                        <button type="button" data-id="{{ _id }}" class="col-lg-3 btn btn-outline-primary btn-sm saveButton">Add Note</button>
                    </div>
                    {{!--
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> --}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</main>